html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  font-family: 'Play', Helvetica, sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

section {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1040px;
}

footer {
  position: relative;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
}
