html {
  font-size: 16px;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  background: #fff;
  font-family: 'Play', Helvetica, sans-serif;
  color: $gray;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body--active-menu {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
}

.wrapper__content {
  flex: 1;
  height: 100%;
}

.main {
  height: 100%;
}


section {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: $containerwidth;
  width: 100%;
  padding: 0 10px;

}

footer {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
}

button {
  cursor: pointer;
}

