@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Play", Helvetica, sans-serif;
  color: #666666;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body--active-menu {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.main {
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  padding: 0 10px;
}

footer {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 4rem;
  font-size: 1.125rem;
  padding-top: 15px;
  color: #292929;
}

.logo__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.hero {
  background-color: #F5F5F5;
  position: relative;
  color: #292929;
}
.hero-container {
  background: url(./../image/headphones-white.png) bottom 15% right/auto 80vh no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 768px) {
  .hero-container {
    background-position: top 25% center;
    background-size: 45%;
    height: 100vh;
    padding-bottom: 10rem;
  }
}
@media (max-width: 480px) {
  .hero-container {
    background-position: top 20% center;
    background-size: 70%;
    padding-bottom: 4rem;
  }
}
.hero:before {
  content: url(../image/Rectangle1.png);
  position: absolute;
  bottom: -4%;
  right: 10%;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .hero__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hero__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
  width: 40%;
  margin-bottom: 1.4rem;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .hero__title {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
    font-weight: 700;
    color: #292929;
    line-height: 1.08;
    text-transform: uppercase;
  }
}
.hero__text {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  width: 37%;
  margin-bottom: 2.25rem;
}
@media (max-width: 768px) {
  .hero__text {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .hero__text {
    width: 90%;
    margin-bottom: 0.8rem;
  }
}
.hero__feature {
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .hero__feature {
    display: none;
  }
}

.header .menu {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 10px;
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .menu__item {
  margin-right: 1.7rem;
  margin-bottom: 10px;
}
.header .menu__link {
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header .menu {
    display: none;
  }
}

.button {
  padding: 1.25rem 2.5rem;
  border-radius: 6.25rem;
  border: none;
}
.button--color--red {
  background: #E01F3D;
  color: #fff;
  text-transform: uppercase;
}
.button--color--red:hover {
  background: #CA1B36;
}
.button--color--none {
  color: #fff;
  background: transparent;
}
.button--color--none:hover {
  color: #E01F3D;
}

.contacts {
  font-style: normal;
  font-weight: 1.125rem;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  padding-top: 10px;
}
.contacts__tel:before {
  content: url(../image/icons/phone.svg);
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  position: absolute;
  top: 27%;
  left: -17%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 768px) {
  .contacts {
    display: none;
  }
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}
.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}
.feature__icon {
  width: 2.5rem;
  margin-right: 0.625rem;
}

.order {
  background: #181818;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order:before {
  content: url(../image/Polygon.png);
  position: absolute;
  top: -4%;
  right: 10%;
}
.order__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .order__title {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 480px) {
  .order__title {
    font-size: 2rem;
    font-weight: 700;
    color: #292929;
    line-height: 1.08;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .order-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews {
  padding: 3.125rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.reviews:before {
  content: url(../image/Ellipse7.png);
  position: absolute;
  bottom: -4%;
  left: 5%;
}
.reviews__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 480px) {
  .reviews__title {
    font-size: 2rem;
    font-weight: 700;
    color: #292929;
    line-height: 1.08;
    text-transform: uppercase;
  }
}
.reviews__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__item {
  border: 4px solid transparent;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.reviews__item--active {
  border-color: #E01F3D;
}
.reviews__item:hover {
  border-color: #E01F3D;
}
.reviews__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.reviews__icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__list {
  width: 100%;
  min-height: 17rem;
  background: #F8FAF9;
  position: relative;
  margin-bottom: 1rem;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.6rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
@media (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  .review {
    padding: 1rem 0;
  }
}
.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.9rem;
}
@media (max-width: 768px) {
  .review__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.review__avatar {
  height: 100%;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .review__avatar {
    height: 9rem;
    margin-right: 0;
  }
}
.review__theme {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  color: #292929;
}
.review__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .review__text {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.review__name {
  font-size: 1.125rem;
  font-weight: 700;
  justify-self: flex-end;
  color: #292929;
}
@media (max-width: 768px) {
  .review__name {
    font-weight: 400;
    color: #000;
    justify-self: flex-end;
  }
}

.review--active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: static;
}

.why {
  padding: 3.125rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why:before {
  content: url(../image/triangle.png);
  position: absolute;
  bottom: -5%;
  left: 7%;
  z-index: 1;
}
.why__head {
  text-align: center;
  margin-bottom: 3.75rem;
}
@media (max-width: 480px) {
  .why__head {
    margin-bottom: 3rem;
  }
}
.why__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
  margin-bottom: 1.125rem;
}
@media (max-width: 480px) {
  .why__title {
    font-size: 2rem;
    font-weight: 700;
    color: #292929;
    line-height: 1.08;
    text-transform: uppercase;
  }
}
.why__text {
  color: #666666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
@media (max-width: 768px) {
  .why__text {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .why__text {
    width: 100%;
  }
}
.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .why__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.why__item {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}
.why__item:before {
  content: url(../image/dots.png);
  position: absolute;
  top: 3.4rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media (max-width: 768px) {
  .why__item:before {
    display: none;
  }
}
@media (max-width: 480px) {
  .why__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    text-align: left;
    margin-bottom: 1.9rem;
  }
}
.why__item:first-child {
  padding-left: 0;
}
.why__item:last-child {
  padding-right: 0;
}
@media (max-width: 480px) {
  .why__item:last-child {
    margin-bottom: 0;
  }
}
.why__item:last-child:before {
  display: none;
}
.why__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #F2F5F4;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
@media (max-width: 480px) {
  .why__pic {
    margin-right: 0.75rem;
    margin-bottom: 0;
    width: 25vw;
    height: 25vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.why__icon {
  width: 4.25rem;
}
.why__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #292929;
}

.slider {
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.slider .bx-wrapper {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.slider:before {
  content: url(../image/Rectangle\ 13.png);
  position: absolute;
  bottom: -4%;
  right: 7%;
}

.slider-container {
  position: relative;
}
@media (max-width: 768px) {
  .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__switch {
  width: 100%;
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
@media (max-width: 768px) {
  .slider__switch {
    width: 70%;
    top: 26%;
  }
}
@media (max-width: 480px) {
  .slider__switch {
    width: 100%;
    top: 20%;
  }
}

.slider__arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.slider__list {
  overflow: hidden;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide__img {
  width: 50%;
  margin: 0 3.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .slide__img {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
@media (max-width: 480px) {
  .slide__img {
    width: 70%;
    margin-bottom: 1.5rem;
  }
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .slide__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.slide__menu {
  width: 91px;
  height: 91px;
  border-radius: 4px;
  background: #9A9A9A;
  cursor: pointer;
  position: relative;
}
.slide__menu:before {
  content: url(../image/icons/gear.svg);
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slide__menu:hover .dropdown {
  opacity: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .slide__menu {
    display: none;
  }
}

.slide__title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .slide__title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #292929;
    line-height: 1.08;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .slide__title {
    text-align: center;
  }
}

.slide__text {
  width: 80%;
}
@media (max-width: 768px) {
  .slide__text {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 85%;
  }
}
@media (max-width: 480px) {
  .slide__text {
    width: 100%;
  }
}

.slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .slide__list {
    margin-bottom: 1.5rem;
  }
}

.slide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6rem;
}
.slide__item:last-child {
  margin-right: 0;
}

.slide__value {
  font-weight: 700;
  color: #292929;
}

.slide__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__price {
  font-size: 2.25rem;
  color: #151515;
  margin-right: 1.5rem;
}

.dropdown {
  min-width: 17rem;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 100%;
  padding: 1.2rem 1rem;
  opacity: 0;
  color: #292929;
}
.dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__value {
  margin-left: auto;
}

.dropdown__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  color: #292929;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer .contacts {
    display: block;
    color: #E01F3D;
  }
}
@media (max-width: 480px) {
  .footer .contacts {
    color: #292929;
  }
}

.footer .contacts__tel {
  padding-left: 1.25rem;
}
.footer .contacts__tel:before {
  top: 20%;
  left: -1%;
}
@media (max-width: 768px) {
  .footer .contacts__tel:before {
    fill: #E01F3D;
  }
}
@media (max-width: 480px) {
  .footer .contacts__tel:before {
    left: 20%;
  }
}

@media (max-width: 480px) {
  .socials {
    margin-top: 1rem;
  }
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.625rem;
  position: relative;
  overflow: hidden;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.socials__icon {
  width: 1.9rem;
  height: 1.9rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65%;
  }
}
@media (max-width: 480px) {
  .form {
    width: 100%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.7rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 0.2rem solid transparent;
  border-radius: 0.3rem;
  padding: 1.25rem 0.75rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media (max-width: 480px) {
  .form__input--textarea {
    height: 5rem;
  }
}
@media (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.6rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .form__controls {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__button {
  margin-right: 1rem;
}
.form__button:last-child {
  margin-right: 0;
}

.error {
  border-color: #E01F3D;
  outline: none;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 480px) {
  .radio {
    margin-right: 0;
  }
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
}
.radio--checkbox .radio__visible:before {
  content: url(../image/checkmark.png);
  background: none;
  top: 35%;
  left: 55%;
}

.radio__element {
  display: none;
}
.radio__element:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
}
@media (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3rem;
}
.fixed-menu__item :last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background-color: #E01F3D;
}

.fixed-menu__link {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #666666;
  position: absolute;
  top: 4%;
  left: 2%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.map {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.map__img {
  width: 100%;
}

.hamburger {
  position: fixed;
  top: 25px;
  right: 20px;
  z-index: 15;
  display: none;
  width: 24px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger__plank:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hamburger__plank:nth-child(3) {
  top: initial;
  bottom: 0;
}

.hamburger--active .hamburger__plank {
  background: #fff;
}
.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4.5px);
          transform: rotate(-45deg) translate(4px, -4.5px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #333537;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20%;
}

.overlay__menu .menu__item {
  color: #fff;
  font-size: 2.25rem;
  line-height: 4.5rem;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__title {
  font-size: 3rem;
  font-weight: 700;
  color: #292929;
  line-height: 1.08;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.2rem;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team--desktop--version.team__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .team--desktop--version.team__list {
    display: none;
  }
}

.team--mobile--version.team__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}
@media (max-width: 768px) {
  .team--mobile--version.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
}

.team__item {
  text-align: center;
}

.team__img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.team--mobile--version.team__img {
  width: 30%;
}

.team__name {
  font-size: 1.125rem;
  font-weight: 700;
  color: #292929;
  cursor: pointer;
}
.team__name:after {
  content: url(../image/Polygon1.svg);
  display: inline-block;
  margin-left: 5px;
}

.active.team__name:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team--mobile--version.team__name {
  margin-bottom: 1rem;
}

.team--mobile--version.team__text {
  width: 30%;
}
@media (max-width: 480px) {
  .team--mobile--version.team__text {
    width: 80%;
  }
}

.team__content {
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0.65rem 0.5rem;
}

.team--mobile--version.team__content {
  position: relative;
}

.team__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__position {
  color: #292929;
  margin-bottom: 0.25rem;
}

.team--mobile--version.team__position {
  font-weight: 700;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #333537;
  display: none;
}

.modal__container {
  background: #fff;
  padding: 2.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__content {
  color: #000;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1rem;
}