$red: #E01F3D;
$black: #292929;
$gray: #666666;

$containerwidth: 1040px;

//breakpoints

$tablets: 768px;
$phones: 480px;

@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:wght@400;700&family=Play:wght@400;700&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "./layout.scss";

@import "./media.scss";

@mixin title($font-size: 3rem) {
  font-size: $font-size;
  font-weight: 700;
  color: $black;
  line-height: 1.08;
  text-transform: uppercase;
}

@import "./components/header.scss";
@import "./components/_logo.scss";
@import "./components/hero.scss";
@import "./components/menu.scss";
@import "./components/button.scss";
@import "./components/contacts.scss";
@import "./components/feature.scss";
@import "./components/order.scss";
@import "./components/reviews.scss";
@import "./components/why.scss";
@import "./components/_slider.scss";
@import "./components/dropdown";
@import "./components/footer.scss";
@import "./components/socials.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/fixed-menu.scss";
@import "./components/map.scss";
@import "./components/hamburger.scss";
@import "./components/overlay";
@import "./components/team";
@import "./components/modal";
@import "./components/colors";
@import "./components/player";
