.button {
  padding: 1.25rem 2.5rem;
  border-radius: 6.25rem;
  border: none;
  
  &--color--red {
    background: $red;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      background: #CA1B36;
    }
  }

  &--color--none {
    color: #fff;
    background: transparent;

    &:hover {
      color: $red;
    }

  }
}

