.contacts {
  font-style: normal;
  font-weight: 18px;
  text-transform: uppercase;
  position: relative;

  :before {
    content: url(../../image/icons/phone.svg);
    transform: scale(.55);
    position: absolute;
    top: 0;
    left: -17%;
  }
}

.footer .contacts {
  padding-left: 20px;

  :before {
    top: -10%;
    left: -2%;
  }
}