.feature {

  &__list {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 10rem;
  }

  &__icon {
    width: 2.5rem;
    margin-right: 0.625rem;
  }
}