.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3rem;

  :last-child {
    margin-bottom: 0;
  }

  &--active {
    .fixed-menu__link {
      border-color: $red;

      &:before {
        background-color: $red;
      }
    }
  }
}

.fixed-menu__link {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;

  &:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $gray;
    position: absolute;
    top: 4%;
    left: 2%;
    transform: translate(50%, 50%);
  }
}
