.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  color: $black;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @include phones {
    flex-direction: column;
    text-align: center;
  }
}

.footer .contacts {
  @include tablets {
    display: block;
    color: $red;  
  }

  @include phones {
    color: $black;
  }
}

.footer .contacts__tel {
  padding-left: 1.25rem;

  &:before {
    top: 20%;
    left: -1%;

    @include tablets {
      fill: $red;
    }

    @include phones {
      left: 20%;
    }
  }
}