.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85px;
}

.footer .contacts__tel {
  padding-left: 20px;

  &:before {
    top: -12%;
    left: -1%;
  }
}