.hero {
  background-color: #F5F5F5;
  position: relative;

  &-container {
    background: url(./../image/headphones-white.png) bottom 15% right / auto 80vh no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablets {
      background-position: top 25% center;
      background-size: 45%;
      height: 100vh;
      padding-bottom: 10rem;
    }

    @include phones {
      background-position: top 20% center;
      background-size: 70%;
      padding-bottom: 4rem;
    }
  }

  &:before {
    content: url(../image/Rectangle1.png);
    position: absolute;
    bottom: -4%;
    right: 10%;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include tablets {
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    @include title;
    width: 40%;
    margin-bottom: 1.4rem;
    margin-top: 2.5rem;

    @include tablets {
      width: 80%;
    }

    @include phones {
      @include title-small;
    }
  }

  &__text {
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    width: 37%;
    margin-bottom: 2.25rem;

    @include tablets {
      width: 50%;
    }

    @include phones {
      width: 90%;
      margin-bottom: 0.8rem;
    }
  }

  &__feature {
    margin-bottom: 3rem;

    @include tablets {
      display: none;
    }
  }
}