.order {
  background: #181818;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;

  @include tablets {
    display: flex;
    align-items: center;
  }

  &:before {
    content: url(../image/Polygon.png);
    position: absolute;
    top: -4%;
    right: 10%;
  }

  &__title  {
    @include title;
    margin-bottom: 3.75rem;
    text-align: center;

    @include tablets {
      margin-bottom: 2.5rem;
    }

    @include phones {
      @include title-small;
    }
  }
}
