.why {
  padding: 3.125rem 0;
  position: relative;
  display: flex;
  align-items: center;
  
  &:before {
    content: url(../image/triangle.png);
    position: absolute;
    bottom: -5%;
    left: 7%;
    z-index: 1;
  }
  
  &__head {
    text-align: center;
    margin-bottom: 3.75rem;

    @include phones {
      margin-bottom: 3rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.125rem;

    @include phones {
        @include title(2rem);
    }
  }

  &__text {
    color: $gray;
    display: inline-flex;
    justify-content: center;
    width: 50%;

    @include tablets {
      width: 80%;
    }

    @include phones {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 5%;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    position: relative;

    &:before {
      content: url(../image/dots.png);
      position: absolute;
      top: 3.4rem;
      right: 0;
      transform: translateX(50%);

      @include tablets {
        display: none;
      }
    }

    @include phones {
      flex-direction: row;
      padding: 0;
      text-align: left;
      margin-bottom: 1.9rem;  
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      @include phones {
        margin-bottom: 0;
      }

      &:before {
        display: none;
      }
    }
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-self: center;
    background: #F2F5F4;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;

    @include phones {
      margin-right: 0.75rem;
      margin-bottom: 0;
      width: 25vw;
      height: 25vw;
      flex-shrink: 0;
    }
  }

  &__icon {
    width: 4.25rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: $black;
  }
}